@model lyubomirp.Models.Project
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (SignInManager.IsSignedIn(User))
{


<div class="container-fluid projects-section" style="text-align:center">
    <h2>Details</h2>

    <div>
        <h4>Project</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ProjectLink)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ProjectLink)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Content)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Content)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ImagePath)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ImagePath)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>
}
